doctype html
head
    title Hackathon 2015

    script(src="plugin/tangelo/tangelo.js")

    link(rel="stylesheet" href="assets/bootstrap.min.css")
    link(rel="stylesheet" href="index.css")

    script(src="assets/jquery-1.11.2.min.js")
    script(src="assets/underscore-min.js")
    script(src="assets/backbone-min.js")
    script(src="assets/d3.v3.min.js")
    script(src="assets/cola.v3.min.js")

    script(src="plugin/tangelo/tangelo.js")

    script(src="assets/clique.min.js")
    script(src="plugin/mongo/mongo.js")

    script(src="index.js")

body
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand Hackathon 2015

    .container-fluid
        .row
            .col-md-6.height100.no-padding.border
                svg#clique(width="100%" height="100%" style="background-color: aliceblue")
            .col-md-6(style="background-color: #30b040")
                .row
                    .col-md-12.height50.border(style="background-color: #304080")
                        h1 right top
                .row
                    .col-md-12.height50.border(style="background-color: blueviolet")
                        h1 right bottom
